.section-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: var(--text-primary);

    // margin-bottom: 20px;

    @media (min-width: 768px){
    font-size:22px;
    line-height: 28px;
    text-align: start;
    }
}
