:root {
  --text-primary: rgb(255, 255, 255);
  --text-secundary: #ffffff;
  --bg-primary: #2c2c2c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-primary);
  position: relative;
  width: 100%;
  background: black;
  opacity: 0.9;
}

body::after {
  content: "";
  background-image: url(../app/JavaScript.jpeg);
  opacity: 0.28;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}


