.experience {
     display: flex;
     flex-direction: column;
     align-items: center;
     max-width: 500px;
     gap: 20px;

     grid-area: experience;

     p {
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: var(--text-secundary);
        text-align: center;
     }

     img {
        filter: grayscale(100);
     }

     .experience-time {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
     }

     .experience-language {
        display: flex;
        align-items: center;
        gap: 8px;
     }

     .experience-unit {
        width: 300px;
        height: 40px;
        border-radius: 24px;
        border: 1px solid var(--text-secundary);
        
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .experience-measure {
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 24px;
            height: 38px;
            border: 1px solid linear-gradient((90deg, #582f9b 2.62%, #c140db 93.38%));
            background: linear-gradient((90deg, #582f9b 2.62%, #c140db 93.38%));

            color: var(--text-primary);
            font-weight: 300;
            text-align: center;
            font-size: 12px;

            &.measure-1 {
                width: 10%;
            }
            &.measure-2 {
                width: 20%;
            }
            &.measure-3 {
                width: 30%;
            }
            &.measure-4 {
                width: 40%;
            }
            &.measure-5 {
                width: 50%;
            }
            &.measure-6 {
                width: 60%;
            }
            &.measure-7 {
                width: 70%;
            }
            &.measure-8 {
                width: 80%;
            }
            &.measure-9 {
                width: 90%;
            }
            &.measure-10 {
                width: 100%;
            }
        }
     }

@keyframes loadAnimation1 {
    0% { width: 0%; }
    100% { width: 60%; }
}   
@keyframes loadAnimation2 {
    0% { width: 0%; }
    100% { width: 40%; }
}   
@keyframes loadAnimation3 {
    0% { width: 0%; }
    100% { width: 30%; }
}   

.measure-6 {
    animation: loadAnimation1 2s ease forwards;
}
.measure-4 {
    animation: loadAnimation2 2s ease forwards;
}
.measure-3 {
    animation: loadAnimation3 2s ease forwards;
}
    

    @media (min-width: 768px) {
        align-items:flex-start;
        p {
            font-size: 18px;
            line-height: 36px;
            text-align: start;
            padding: 0px 0px 0px 60px;
        }
        h3 {
            padding: 0px 0px 0px 60px;
         }
    }
}