.experience {
     display: flex;
     flex-direction: column;
     align-items: center;
     max-width: 500px;
     gap: 20px;

     grid-area: experience;

     p {
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: var(--text-secundary);
        text-align: center;
     }


    @media (min-width: 768px) {
        align-items:flex-start;
        p {
            font-size: 18px;
            line-height: 36px;
            text-align: start;
        }
    }
}